
.common_panel {
    -fx-background-color: #CCFF99;
    -fx-padding: 5;
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
}

.h_panel {
    -fx-background-color: #CCFF00;
    -fx-padding: 5;
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
}
